@media only screen and (min-width: 1200px) and (max-width: 1400px) {

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.container{ max-width: calc(100% - 50px); }
	.productBox h2 { font-size: 40px; }
	.subscribeBox input[type="email"], .subscribeBox input[type="text"] { width: 269px; }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.container{ max-width: calc(100% - 50px); }
	.productBox h2 { font-size: 32px; }
	.subscribeBox input[type="email"], .subscribeBox input[type="text"] { width: 159px; }

}

@media only screen and (max-width: 767px){
	.mobile-header { display: grid; grid-template-columns: 1fr 1fr 1fr; grid-gap: 15px; align-items: center; }
	.mobile-header .logo img { width: 60px; display: block; margin: 0 auto; }
	.section-header { display: none; }
	.section-top { font-size: 16px; }
	.productBox,
	.stayConnected-section .signupBox,
	.footerBox,
	.footerBox .item:first-child { grid-template-columns: 1fr; }
	.subscribeBox input[type="email"], .subscribeBox input[type="text"] { width: 100%; margin: 0 0 10px 0; }
	.footerBox .item:last-child { justify-content: start; }

	.home-banner { height: 300px; }
	.home-banner .flexslider h1,
	.middle-banner h1 { font-size: 28px; }
	.home-banner .flexslider p,
	.middle-banner p { font-size: 24px; }
	.productBox h2 { font-size: 22px; }
	.shopnow { width: 100px; padding: 10px 10px; font-size: 12px; }
	.productBox { grid-template-columns: 1fr 1fr; grid-gap: 20px; }
	.productBox .item:last-child { grid-column: 1 / 3; }
	.owl-carousel .owl-item img { margin: 0 auto; height: 160px; width: auto; display: block; }
	.newArrivalSlider .owl-next,
	.newArrivalSlider .owl-prev { background-size: 13px !important; }
	.middle-banner { height: 230px; }
	.followBox { grid-template-columns: 1fr 1fr 1fr; }
	.followUs-section h2, .new-arrivals-section h2, .stayConnected-section h2 { font-size: 24px; }
	.stayConnected-section .signupBox .child:first-child { font-size: 14px; text-align: center; }
	.stayConnected-section h2 { margin-bottom: 18px; }
	.subscribeBox { text-align: center; }
	.footerBox { grid-gap: 20px; }
	.footerBox ul.social li img { width: auto; height: 20px; }
	.footerBox .item:first-child { grid-gap: 20px; }
	.footerBox .item:last-child { display: block; }

	.desktop-view { display: none; }
	.mobile-view { display: block; }
	
}
