/*-------------------- Global -----------------------*/
body { font-family: 'Lato', sans-serif; overflow-x: hidden; }
a { color: #42ADA8; word-wrap:break-word; transition: all 0.3s ease;}
a:hover { text-decoration:none; color: #42ADA8;}
a:focus, input:focus, button:focus { outline:0; color: none; text-decoration: none;}
img { max-width:100%; height: auto;}
img[alt]{ font-size: 9px; }
h1, h2, h3, h4, h5, h6 { margin: 20px 0 30px 0; font-family: 'Pacifico', cursive; }
h1 { font-size: 50px;}
h2 { font-size: 40px;}
h3 { font-size: 30px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 18px;}
strong { font-weight: 600; }
p { font-size:14px; margin: 10px 0 20px 0; color: #000;}
ul, ol { list-style: none; padding: 0;	margin: 0; }
ul li, ol li { color: #000000; font-weight: 300; font-size: 16px; margin-bottom: 10px; } 
.padding0 { padding: 0;}
.margin0 { margin: 0;}
.container { max-width: 1200px; }


header {
    display: block;
}
.section-top {
    background: #000;
    font-size: 26px;
    font-weight: 300;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
}
.section-header {
    display: block;
    background: #10504F;
}
.headerBox {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    padding: 10px 0;
}
.headerBox .logo {
    display: block;
}
.headerBox .menu {
    display: grid;
    align-items: center;
}
.headerBox ul li {
    display: inline-block;
    vertical-align: top;
    font-size: 28px;
    font-weight: 300;
    margin-left: 30px;
}
.headerBox ul li a {
    color: #fff;
}
.headerBox ul li a:hover {
    color: #ccc;
}
.mobile-header {
    display: none;
    background: #10504F;
    padding: 15px 15px;
}
.mobile-header .item.cart {
    text-align: right;
}
.mobile-menu {
    width: 300px;
    height: 100%;
    padding: 30px;
    position: fixed;
    right: -100%;
    top: 0;
    z-index: 3;
    background: #000;
    transition: all 0.3s ease;
}
.mobile-menu ul li {
    display: block;
    font-size: 28px;
    font-weight: 300;
    margin: 10px 0;
}
.mobile-menu.open {
    right: 0;
}
.hamburg {
    width: 30px;
    display: block;
    position: relative;
}
.hamburg span {
    width: 100%;
    height: 2px;
    background: #fff;
    display: block;
    margin: 8px 0;
}
.home-banner {
    width: 100%;
    height: 600px;
}
.home-banner .flexslider {
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    height: 100%;
}
.home-banner .flexslider .flex-viewport,
.home-banner .flexslider ul.slides,
.home-banner .flexslider ul.slides li  {
    height: 100%;
}
.home-banner .flexslider ul.slides li {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
.home-banner .innerSlide {
    height: 100%;
    display: grid;
    align-items: center;
}
.home-banner .flexslider h1 {
    font-size: 50px;
    color: #fff;
    margin: 0 0 10px 0;
}
.home-banner .flexslider p {
    font-size: 40px;
    font-weight: 300;
    color: #fff;
    margin: 0 0 30px 0;
}
.shopnow {
    width: 170px;
    text-align: center;
    display: block;
    background: #000;
    padding: 10px 20px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.shopnow:hover {
    background: #ccc;
    color: #000;
}
.home-banner .flex-control-paging {
    width: 100%;
    position: absolute;
    bottom: 40px;
    left: 0;
    z-index: 1;
}
.home-banner .flex-control-paging li a {
    border-radius: 0;
    width: 20px;
    height: 20px;
    background: rgba(0,0,0,0.50);
}
.home-banner .flex-control-paging li a.flex-active {
    background: #fff;
}
.home-banner .flex-direction-nav {
    display: none;
}
.product-section {
    padding: 40px 0;
}
.productBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}
.productBox h2 {
    margin: 0;
    color: #fff;
    font-size: 50px;
    background: #10504F;
    padding: 20px;
    text-align: center;
    display: block;
}
.new-arrivals-section {
    display: block;
    text-align: center;
}
.new-arrivals-section h2 {
    font-size: 35px;
    margin: 0 0 30px 0;
}
.new-arrivals-section h3 {
    font-size: 18px;
    font-weight: 400;
    color: #000;
    margin: 20px 0 0 0;
    font-family: 'Lato', sans-serif;
}
.new-arrivals-section p {
    font-size: 16px;
    font-weight: 300;
    color: #000;
    line-height: 18px;
    margin: 0 0 10px 0;
    font-family: 'Lato', sans-serif;
}
.new-arrivals-section .price {
    color: #10504F;
    font-size: 22px;
    font-style: italic;
    font-family: 'Pacifico', cursive;
}
.newArrivalSlider {
    display: block;
    position: relative;
}
.newArrivalSlider .owl-nav {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -25px;
    z-index: 1;
}
.newArrivalSlider .owl-nav button {
    width: 50px;
    height: 50px;
    position: absolute;
    display: block;
}
.newArrivalSlider .owl-nav button span {
    font-size: 0;
}
.newArrivalSlider .owl-prev {
    left: 0px;
    background: url('../images/Arrow-Left.png') no-repeat center center !important;
}
.newArrivalSlider .owl-next {
    right: 0px;
    background: url('../images/Arrow-right.png') no-repeat center center !important;
}
.middle-banner {
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    display: grid !important;
    align-items: center;
}
.middle-banner .captionRight {
    display: grid;
    justify-content: flex-end;
}
.middle-banner h1 {
    font-size: 50px;
    color: #fff;
    margin: 0 0 10px 0;
}
.middle-banner p {
    font-size: 40px;
    font-weight: 300;
    color: #fff;
    margin: 0 0 30px 0;
}
.middle-banner .shopnow {
    background: #10504F;
}
.middle-banner .shopnow:hover {
    background: #ccc;
}
.followUs-section {
    padding: 40px 0;
}
.followUs-section h2 {
    font-size: 35px;
    text-align: center;
    margin: 0 0 30px 0;
}
.followBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
.followBox a {
    display: block;
}
.stayConnected-section {
    background: #10504F;
    padding: 60px 0;
}
.stayConnected-section h2 {
    font-size: 35px;
    color: #fff;
    text-align: center;
    margin: 0 0 40px 0;
}
.stayConnected-section h2 img {
    margin-right: 10px;
}
.stayConnected-section .signupBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}
.stayConnected-section .signupBox .child:first-child {
    font-size: 20px;
    color: #fff;
    line-height: 26px;
}
.subscribeBox {
    display: block;
}
.subscribeBox input[type="email"],
.subscribeBox input[type="text"] {
    width: 399px;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    margin-right: 10px;
    border: 0;
}
.subscribeBox input[type="submit"] {
    padding: 4px 35px;
    font-size: 20px;
    color: #fff;
    background: none;
    border: 3px solid #fff;
    display: inline-block;
    vertical-align: top;
    font-family: 'Pacifico', cursive;
}
footer {
    padding: 60px 0;
    background: #000;
}
.footerBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.footerBox .item:first-child {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-gap: 30px;
}
.footerBox h3 {
    font-size: 16px;
    color: #fff;
    margin: 0 0 10px 0;
    position: relative;
}
.footerBox .item .child ul li {
    font-size: 16px;
    font-weight: 300;
}
.footerBox .item .child ul li a {
    color: #fff;
}
.footerBox .item .child ul li a:hover {
    color: #ccc;
    text-decoration: underline;
}
.footerBox .item:last-child {
    display: grid;
    justify-content: flex-end;
}
.footerBox ul.social li {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

.footerBox h3[aria-expanded="false"]:after {
    content: '\f055';
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    color: #fff;
    float: right;
}
.footerBox h3[aria-expanded="true"]:after {
    content: '\f056';
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    color: #fff;
    float: right;
}




.mobile-view { 
    display: none; 
}