Array in format:

fruit:apple
vegetable:carrot
cloth:t-shirt
denim:jeans


{%- assign keysArray = "fruit|vegetable|cloth|denim" | split: '|' -%}
{%- assign valuesArray = "apple|carrot|t-shirt|jeans" | split: '|' -%}
<ul>
{% for key in keysArray %}
    <li>{{ key }}:{{ valuesArray[forloop.index0] }}</li>
{% endfor %}
</ul>