{% paginate collection.products by 12 %}

    {% for product in collection.products %}
    {{ product.title}}
    {% endfor %}
    
  {% if paginate.pages > 1 %}
    <div class="pagination text-center">
      {{ paginate | default_pagination }}
    </div>
  {% endif %}
 </div>
{% endpaginate %}