Product Name : Blue T-Shirt

{%- assign product = all_products["blue-t-shirt"] -%}

{%- assing prodTitle = product.title -%}
{%- assing prodId = product.id -%}
{%- assing prodHandle = product.handle -%}
{%- assing prodPrice = product.price -%}
{%- assing prodUrl = product.url -%}
{%- assing prodImg = product.featured_image | img_url: 'original' -%}

<p>Title - {{ prodTitle }}</p>
<p>Id - {{ prodId }}</p>
<p>Handle - {{ prodHandle }}</p>
<p>Price - {{ prodPrice }}</p>
<p>Url - {{ prodUrl }}</p>
<p>Image - {{ prodImg }}</p>